:root {
    --main-bg-color: skyblue;
    --main-board-color: #a47864;
    --side-board-color: #955251;
    --side-color: white;
    --border-radius: 10px;
}

html, body {
    font-family: 'Roboto';
    color: var(--side-color);
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: var(--main-bg-color);
}

#game-title {
    text-shadow:
    1px 1px 0px var(--side-board-color),
    -1px -1px 0px var(--side-board-color),
    -1px 1px 0px var(--side-board-color),
    1px -1px 0px var(--side-board-color);
}

#scoreboard {
    display: flex;
    gap: 20px;
    justify-items: center;
    align-content: stretch;
}

#player1-board,
#player2-board {
    display: flex;
    gap: 5px;
    width: 200px;
    height: 100px;
    justify-items: center;
    flex-direction: column;
    text-align: center;
}

#player1-title,
#player1-score,
#player2-title,
#player2-score {
    margin: 0;
    border-radius: var(--border-radius);
    background-color: var(--main-board-color);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px solid var(--side-board-color);
}

#gameboard-container {
    width: 400px;
    height: 400px;
    margin: 10px;
    border-radius: var(--border-radius);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: stretch;
    justify-items: stretch;
    align-content: stretch;
    justify-content: stretch;
}

.cell {
    border: 1px solid var(--side-board-color);
    background-color: var(--main-board-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    align-content: center;
    font-weight: bold;
}

#new-game {
    border: 2px solid var(--side-board-color);
    border-radius: var(--border-radius);
    color: var(--side-color);
    font-weight: bold;
    padding: 10px;
    background-color: var(--main-board-color);
}

#new-game:hover {
    cursor: pointer;
}