html, body {
    font-family: 'Roboto';
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
}

#gameboard-container {
    width: 400px;
    height: 400px;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: stretch;
}

.cell {
    border: 1px solid red;
    box-sizing: border-box;
    align-content: center;
}